<!DOCTYPE html>
<html style="background-color: #F2F2F2">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>OAuth2.0-Server Login</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
</head>
<body>
<div style="width: 450px; height: 280px; padding-top: 1px; margin: 200px auto auto auto; background-color: white;">
    <div class="layui-tab layui-tab-brief" style="margin: 20px 20px 20px 20px;">
        <ul class="layui-tab-title">
            <li class="layui-this">登入</li>
            <li><a href="#">注册</a></li>
        </ul>
    </div>
    <div style="margin: 10px 20px 20px 20px;">
        <div class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">账  号</label>
                <div class="layui-input-block">
                    <input type="text" name="loginName" required lay-verify="required" placeholder="请输入账号" value="guest" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密  码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" value="123456" autocomplete="off" class="layui-input" style="width: 300px;">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 0px;">
                    <button class="layui-btn" lay-submit lay-filter="loginButton">立即登录</button>
                    <span style="padding-left:20px;"><a href="#">忘记密码？</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../frame/layui/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form
            ,$ = layui.jquery;

        var basePath = function getRootPath() {
            var curWwwPath = window.document.location.href;
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            var localhostPath = curWwwPath.substring(0, pos);
            var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
            return localhostPath+projectName;
        }();

        //监听提交
        form.on('submit(loginButton)', function(data){

            // window.location.href = basePath + '/login' + window.location.search;
            // layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: basePath + '/oauthLogin' + window.location.search,
                data: data.field,
                type: 'post',
                dataType: 'json',
                success: function (returnData) {
                    if(returnData.code == 200){
                        // layer.msg(JSON.stringify(jsonObject));
                        // console.log(JSON.stringify(returnData));
                        window.location.href = returnData.data.redirectUri;
                    } else {
                        layer.msg(returnData.msg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>